force-app/main/default/flows/Event_Reminder_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Attendees</name>
        <label>Send to Attendees</label>
        <locationX>314</locationX>
        <locationY>597</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop2_Events</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AttendeesEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mika.yk@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Event in 2 days</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello,  We remind you that the event will take place in two days. Please check the details in your personal account.  Sincerely, Event organizers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Organizer</name>
        <label>Send to Organizer</label>
        <locationX>761</locationX>
        <locationY>699</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mika.yk@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification of sending letters to participants</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Уведомления о событии {!Loop2_Events.Name} (дата: {!Loop2_Events.Date__с}) отправлены участникам.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Loop2_Events.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_AttendeeId</name>
        <label>Add_AttendeeId</label>
        <locationX>50</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>AttendeeIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_RegEvents.Attendee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAttendee_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddEmail_Attendees</name>
        <label>AddEmail_Attendees</label>
        <locationX>538</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>AttendeesEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Attendees.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Attendees</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>TwoDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <interviewLabel>Event Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Reminder</label>
    <loops>
        <name>Loop2_Events</name>
        <label>Loop2_Events</label>
        <locationX>849</locationX>
        <locationY>495</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_EventOrganizer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_to_Organizer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Attendees</name>
        <label>LoopAttendees</label>
        <locationX>437</locationX>
        <locationY>463</locationY>
        <collectionReference>GetAttendee_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddEmail_Attendees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_to_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Events</name>
        <label>LoopEvents</label>
        <locationX>431</locationX>
        <locationY>157</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_RegEvents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_RegEvents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_RegEvents</name>
        <label>LoopRegEvents</label>
        <locationX>192</locationX>
        <locationY>259</locationY>
        <collectionReference>Get_RegEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_AttendeeId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EventOrganizer</name>
        <label>GetEventOrganizer</label>
        <locationX>961</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop2_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop2_Events.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Events</name>
        <label>GetEvents</label>
        <locationX>431</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RegEvents</name>
        <label>GetRegEvents</label>
        <locationX>584</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Events.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAttendee_Contacts</name>
        <label>GetAttendee_Contacts</label>
        <locationX>190</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RegEvents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AttendeeIdsCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>727</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Actual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-01</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AttendeeIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AttendeesEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AttendeesEmailString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
